/* Basic jQuery Slider essential styles */
body{
background:#f8f8f8;
}
ul.bjqs {
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	display:none;
}
li.bjqs-slide {
	position:absolute;
	display:none;
}
ul.bjqs-controls {
	list-style:none;
	margin:0;
	padding:0;
	z-index:9999;
}
ul.bjqs-controls.v-centered li a {
	position:absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
	right:0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
	left:0;
}
ol.bjqs-markers {
	list-style: none;
	padding: 0;
	margin: 0;
	width:100%;
}
ol.bjqs-markers.h-centered {
	text-align: center;
	display:none;
}
ol.bjqs-markers li {
	display:inline;
}
ol.bjqs-markers li a {
	display:inline-block;
}
p.bjqs-caption {
	display:block;
	width:96%;
	margin:0;
	padding:2%;
	position:absolute;
	bottom:0;
}

.secret-source{
display:none;
}

.bjqs-controls a {
	 background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;

    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
	border:1px solid #fff;
}
