<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Advertisement Posting Confirmation</title>
</head>
<body>
<table width="80%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
    <tr>
        <td align="center"><table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td align="left"><img src="http://www.1acreindia.com/property-portal/images/logo.png" width="300" height="65" alt=""/></td>
                <td style="font-size:18px; font-weight:bold; text-align:right; color:#d1443c; font-family:Arial,Helvetica,sans-serif;">
                    ${postingDate}
                </td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td align="center"><table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr bgcolor="#5DAF33">
                <td style="text-align:center; font-weight:600; font-size:16px; color:#fff; font-family:Arial,Helvetica,sans-serif;	 padding:10px 0px; font-size:18px;">
                    Thanks for posting advertisement with us
                </td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td style="border:1px solid #5DAF33"><table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td style="padding:10px 25px; text-align:left; font-family:Arial,Helvetica,sans-serif; font-size:14px;" >
                    Hi  ${developerName}, <br><br>
                    We thank you for your advertisement post with us which is a great opportunity to get more business through our website.<br>
                    Your advertisement is in admin review. Once advertisement approved users can view the property details.<br><br>

                    <table width="90%" border="1" cellspacing="0" cellpadding="1" style="margin:0 auto; border:1px solid #5DAF33">
                        <tr>
                            <th>Property Developer Name</th>
                            <th>Name of Project/Society</th>
                            <th>Property Type</th>
                            <th>Location</th>
                            <th>Property For</th>
                        </tr>
                        <tr>
                            <td> ${developerName}</td>
                            <td> ${projectName}</td>
                            <td> ${propertyType}</td>
                            <td> ${location}</td>
                            <td> ${propertyFor}</td>
                        </tr>
                    </table>

                    <br><br>Thanking you.<br><br>


                    Regards,<br>
                    Administrator<br>
                    www.1acreindia.com<br>
                </td>
            </tr>
        </table></td>
    </tr>
</table>
</body>
</html>
